.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.content-container.card-body{
    height: 100%;
}

.time{
    font-size: 35px;
}

#select{
    max-width: 50%;
}