.modal-dialog.modal-window{
    max-width: 25em;
}

.volume-input-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-label{
    margin: 0;
}

#volume{
    max-width: 70%;
    max-height: 1.5em;
}

.modal-content-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
}